<div class="container mt-5">
    <h1>Crear Departamento</h1>

    <form method="post">
        <label>Nombre: </label>
        <input type="text" class="form-control" name="nombre" />
        <br />
        <label>Localidad</label>
        <input type="text" class="form-control" name="localidad" />
        <br />
        <button class="btn btn-success">
            Insertar Departamento
        </button>
    </form>
</div>
